*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    padding: 18.28px 35px 19.3px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 51px;
}

nav{
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    justify-content: center;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}